<h1>Enter your allergy score </h1>
<form action = "/results">
  <div class = "form-group">
    <label id="allergyscore"> Enter your allergy score here </label>
    <input id="allergyscore" name="allergyscore" class="form-control" type="text" placeholder="Must be an actual allergy score">
  </div>
  <button type="submit" class="btn-success"> Send </button>
</form>
